<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Banking System </title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: right;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: #111;
        }
        </style>
</head>

<body>


   
    <h3 class="Time"><%= kindOfDay %></h3>
    <br>
    <br>

    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/transactionhistory">Transaction History</a></li>
        <li><a href="/viewcustomer">View Customers</a></li>
        <li><a href="/createuser">Create User</a></li>
        <li><a href="/transfermoney">Transfer Money</a></li>
    </ul>
    <br>
    <br>
    
  
