
<%-include("partials/header") -%>
<h1 class="welcome">Welcome to the Sparks bank</h1>
<br>
<br>
<div class = "blackBackground">
    <br>
    <br>
    <h2 id="theFastestServices">The fastest services</h2>
    <br>
    <img class= "homePageImage" src="bankingHomePage.jpg", alt = "Banking @TheSparksBank" width = "900" height = "400" />
    <p>With seamless transfer of money, you will never have to worry about failed payments.</p>
    <br>
    <br>
</div>
<br>
<br>
<div>
    <br>
    <br>
    <h2 id = "congratulationsHeading">Congratulations to the team of Sparks Bank</h2>
    <img class = "homePageImage" src = "award.jpeg" alt = "award" width = "900" height = "400" />
    <p id = congratulationsText>The Sparks Bank has won the award of the international bank of the year for the third time in a row</p>
    <br>
    <br>
    <br>
</div>
<div class = "blackBackground">
    <br>
    <br>
    <h2 id ="contactUs">Contact Us</h2>
    <p>Permanant Address: <b>THE HANGAR, NUS ENTERPRISE 21 HENG MUI KENG TERRACE, SINGAPORE, 119613.</b></p>
    <p>
        Contact:
        
        <b>+65-8402-8590, info@thesparksfoundation.sg</b></p>
    <br>
    <br>
</div>
</body>
<footer class = "footer" style = " font-family: Segoe UI; text-align: center; font-size: 9px; position:relative; bottom: 0; width: 100%;  height: 60px; ">
    <br>
    <br>
    <br>
    © Aryan Singh
</footer>
</body>
</html>